@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'MyFont' ;
  src: local('MyFont'), url(../public/fonts/Shabnam-FD-WOL.woff) format('woff');
}

body {
  overflow-y: scroll;
  margin: 0;
  font-family: MyFont, sans-serif !important;
}
html {
 
  font-family: MyFont, sans-serif !important;
}
.leaflet-container , .css-189e9pj-MuiButtonBase-root-MuiButton-root ,.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root , .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root{
  font-family: MyFont, sans-serif !important;
}

